body {
    margin: 0;
    padding: 0;
    background-color: #303030;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.home-ui {
    display: grid;
    text-align: center;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(11, auto);
    font-size: large;
}

.home-ui > button {
    background: #5b7a81;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 20px;
    color: white;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 12px;
    cursor: pointer;
    grid-column: span 2;
}

.home-ui > button:hover {
    background: #81acb6;
}

.welcome-ui {
    display: grid;
    justify-content: left;
    text-align: left;
    background-color: #416191;
    border-radius: 20px;
    padding: 15px;
    font-size: larger;
    font-weight: 650;
    margin-top: 10px;
    margin-bottom: 10px;
    grid-gap: 10px;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(3, auto);
    grid-column: span 2;
}

.clipboard-id {
    display: grid;
    background-color: #adadad;
    color: #303030;
    border-radius: 10px;
    font-size: medium;
    font-weight: 100;
    padding: 5px;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
}

.clipboard-id > button {
    border: none;
    background: none;
    cursor: pointer;
}

.transfer {
    display: grid;
    justify-content: left;
    text-align: left;
    background-color: #adadad;
    border-radius: 20px;
    padding: 25px;
    grid-gap: 15px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    grid-template-columns: repeat(1, 400px);
    grid-template-rows: repeat(3, auto);
    grid-column: 2;
    grid-row: span 3;
}

.transfer > input {
    background: #303030;
    justify-content: center;
    border: 2px solid white;
    outline: none;
    border-radius: 10px;
    color: white;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    font-size: 18px;
}

.transfer > button {
    background: #395d92;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    font-size: 18px;
}

.negative {
    color: rgb(170, 0, 0);
    font-weight: bold;
}

.positive {
    color: #395d92;
    font-weight: bold;
}

.last-transfers {
    display: grid;
    justify-content: left;
    text-align: left;
    background-color: #94a6be;
    color: black;
    border-radius: 20px;
    padding: 15px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(10, auto);
    grid-column: 1;
    grid-row: span 10;
}

.transfer-card {
    padding: 10px;
}
